@tailwind base;
@tailwind components;
@tailwind utilities;

.header-font {
    font-family: 'KingHwa_OldSong', serif;
    font-weight: 500
}

.content-font {
    font-family: 'LXGW WenKai', serif;
    font-weight: 400
}

.md-editor {
    font-family: 'LXGW WenKai', serif !important;
    font-size: 20px !important;
    --md-bk-color: #efefef !important;
}

.md-editor-dark {
    --md-bk-color: #262628 !important;
}